<app-header></app-header>
<main>
  <!-- first section -->
  <section class="container-fluid" id="section1">
    <div class="row">
      <div class="col-md-6">
        <div class=" m-5">
          <p class="para1 fw-bold">Learn New Skills <br>
            Online With Top
          </p>
          <h1 class="color-green">Educators</h1>
          <p class="para2">His Ideas SomeWhere me to finding so unable <br> late,the unrecognizable</p>
          <button class=" btn rounded-pill btn-success">Start Learning Today</button>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../assets/Group 3832.png" class="mt-3 ms-3" alt="Image" width="350" height="300">
      </div>
    </div>
  </section>
  <!-- second section Students -->
  <section id="section2 "  class="">
    <div class="container-fluid ">
      <div class="row p-relative">
        <div class="col-md-12 mt-5 text-align  float-right">
          <h1 class="display-5 fw-bold">Recent <span class="color-green">Student's </span>Post</h1>
          <p>Lorem ipsum dolor sit amet consectetur a </p>
        </div>
        <div>
          <h1 class="opasity p-absolute" style=" font-size: 8vw;">STUDENT</h1>
        </div>
      </div>
    </div>
    <div class="container ellipse-right  card-container ">
      <div class="container position-relative ">
        <img src="../assets/Group 3989.svg" class="dots" width="300" height="300" alt="doted-image">
        <div class="row  shadow-lg position-relative section-row" style="z-index: 1;">
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>looking for ECE a levels Math Tutor Urgently</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong kim</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>looking for ECE a levels Math Tutor Urgently</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong kim</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>looking for ECE a levels Math Tutor Urgently</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong kim</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>looking for ECE a levels Math Tutor Urgently</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong kim</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>looking for ECE a levels Math Tutor Urgently</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong kim</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="..." height="300" width="300">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>looking for ECE a levels Math Tutor Urgently</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong kim</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-align">
            <button class="btn rounded-pill">View All Students</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Third Section Teachers Detail -->
  <section class="p-3" id="section3 ">
    <div class="text-align">
      <h1 class="teacher-heading">Recent <span style="color:#00cc00;">Teacher's Post</span></h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing</p>
    </div>
    <div class="container  card-container ">
      <div class="container position-relative ">
        <div class="row  shadow-lg  section-row" style="z-index: 1;">
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>Physics B.sc Ready to tutor IB Students</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong kim</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>Physics B.sc Ready to tutor IB Students</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong kim</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>Physics B.sc Ready to tutor IB Students</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong kim</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>Physics B.sc Ready to tutor IB Students</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong kim</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>Physics B.sc Ready to tutor IB Students</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong kim</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/istockphoto-1251629816-170667a.jpg" class="img-fluid rounded-start" alt="..." height="300" width="300">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6>Physics B.sc Ready to tutor IB Students</h6>
                    <p class="card-text"><small class="text-muted">posted on March 21,2021</small></p>
                    <h6>Math,Physics</h6>
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Group 4233.svg" alt="image">
                        </div>
                        <div class="ms-2">A levels</div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26730.svg" alt="image">
                        </div>
                        <div>
                          <h6 class="ms-2">&#36; 10/hr</h6>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <img src="../assets/Path 26731.svg" alt="image">
                        </div>
                        <div class="ms-2">Hyunwoong <span style="color: rgb(248, 248, 8);">(3.5/5)</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-align">
            <button class="btn rounded-pill">View All Teacher's</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- single image and content box section -->
  <section id="section4" class="mt-5">
    <div class="container left-ellipse">
      <div class="row">
        <div class="col-md-7">
          <div class="card-image">
            <img src="../assets/cutimage.png" alt="img">
          </div>
        </div>
        <div class="col-md-5 ">
          <h1>About ManaMusu</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis reprehenderit omnis error dolor maxime
            veniam totam harum rerum! Laudantium tempore voluptatibus fuga et deleniti vitae laborum sunt, eum,<br><br>
            laboriosam similique reprehenderit ea nam iste nobis excepturi in vero ipsa ut. Ipsam consequuntur beatae
          </p>
          <div>
            <button class="btn rounded-pill">See Teacher's</button>
            <button class="btn rounded-pill btn-outline-dark ms-3" style="background-color: white; color: black;">See
              Student's</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- fourth section How it Works -->
  <section class="section-how-it-works ">
    <div class="container">
      <div class="row">
        <div class="col text-align main-title">
          <h2>How it <span style="color: #00cc00;">Works</span></h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="row position-relative align-items-center">
        <div class="col-md-12">
          <div class="backtext">
            <h2 style="font-size:8vw ; " class="text-align opasity">HOW IT WORKS</h2>
          </div>
        </div>
        <div class="col-md-6">
          <img src="../assets/singleimage.png" class="single-image" alt="">
        </div>
        <div class="col-md-6 content-box section5-child2">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio dignissimos, dolorem magnam repellendus
            eius rem illo ipsa voluptas in nobis possimus ipsum! Distinctio labore quibusdam sed voluptatem esse hic
            totam?Lorem ipsum dolor sit.<br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem unde quaerat quo debitis totam, amet
            asperiores cupiditate corporis saepe delectus.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- dark-background section -->
  <section class=" bg-dark">
    <div class="container">
      <div class="row ">
        <div class="col-md-4">
          <img src="../assets/Group 78.svg" alt="">
        </div>
        <div class="col-md-4">
          <img src="../assets/icon.png" alt="">
        </div>
        <div class="col-md-4">
          <img src="../assets/Group 68.svg" alt="">
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>